/* Master styles */
body {
  margin: 0;
  background-color: #f1f2f6;
  font-family: Lato, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* nav syles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  text-transform: uppercase;
  background-color: #f1f2f6;
  font-family: Lato, sans-serif;
  box-shadow: 0 1px 2px 0 rgb(187, 187, 187);
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-links {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-links a {
  color: #8a8a8a;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.5s;
}

.nav-links a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* portfolio styles */

.portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item {
  position: relative;
}
.portfolio-img-background {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.subtitle {
  width: 80%;
}

.img-text-wrapper .subtitle {
  font-weight: 600;
  transition: 1s;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* about me styles */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
  margin-top: 50px;
  margin-left: 30px;
}

.profile-content-wrapper h1 {
  font-family: "sansita", sans-serif;
  font-size: 36;
  color: #fc427b;
}

.profile-content-wrapper p {
  font-family: "sansita", serif;
  font-size: 20px;
  text-align: justify;
  width: 550px;
  margin-top: 80px;
  line-height: 2;
  color: #fd81a7;
}

/* contact styles */

.contact-section {
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0;
}

.contact-section h1 {
  text-align: center;
  color: black;
}

.border {
  width: 100px;
  height: 10px;
  background: lightseagreen;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 8px 2px lightseagreen;
}

input {
  font-family: "lato", sans-serif;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: 0;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  background: lightseagreen;
}

.contact-form-btn:hover {
  background: rgb(43, 230, 220);
}

a {
  text-decoration: none;
}

/* bmi calculator */

.bmi-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

#unit-btns {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.imperial-btn {
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
  width: 140px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
  background-color: #f1f2f6;
}

.metric-btn {
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  width: 140px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
  background-color: #f1f2f6;
}

.bmi-form {
  margin: auto;
  font-family: "helvetica", sans-serif;
  text-align: center;
}

.height-input {
  width: 50px;
  height: 30px;
  margin: 20px 2px;
  border: none;
}

.weight-input {
  width: 50px;
  height: 30px;
  border: none;
}

.bmi-calculate-btn {
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 140px;
  height: 140px;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  background-color: lightseagreen;
}

.bmi-calculate-btn:hover {
  background-color: rgb(40, 216, 207);
}

#bmi-result {
  font-family: "helvetica", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
  color: lightseagreen;
}

#bmi-result p {
  display: inline;
}

/* tic-tac-toe */

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.tic-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.board {
  box-sizing: border-box;
  height: 60vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: rgb(134, 132, 132);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #f1f2f6;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.winning-message {
  display: none;
  position: fixed;
  top: 99px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 5rem;
  flex-direction: column;
  font-family: "krona one", sans-serif;
}

.winner {
  margin-bottom: 150px;
  margin-top: -100px;
}

.winning-message button {
  font-size: 2rem;
  font-family: "krona one", sans-serif;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  padding: 0.25em 0.5em;
}

.winning-message button:hover {
  background-color: rgb(40, 216, 207);
}

.winning-message.show {
  display: flex;
}

/* calculator */

.calc-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.calculator{
  width: 320px;
  height: 500px;
  background-color: #f5f5f5;
  font-family: 'rubik', sans-serif;
  margin: 0 auto;
  margin-top: 20px;
  top: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.calc-screen {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px 10px 0 0 ;
}

.calc-history {
  text-align: right;
  height: 15px;
  margin: 0 20px;
  padding-top: 5px;
  padding-bottom: -5px;
  font-size: 15px;
  color: rgb(197, 195, 195);
}

.calc-output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
  color: white;
}

.calc-keyboard {
  height: 400px;
}

.calc-keyboard > button {
  font-family: 'rubik', sans-serif;
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
  outline: 0;
}

.calc-keyboard > button {
  background-color: #f5f5f5;
  cursor: pointer;
}

.calc-keyboard > button:nth-child(4) {
  font-size: 20px;
  background-color: tomato;
}

.calc-keyboard > button:nth-child(8) {
  font-size: 18px;
  background-color: gold;
}

.calc-keyboard > button:nth-child(12) {
  font-size: 18px;
  background-color: yellow;
}


.calc-keyboard > button:nth-child(16) {
  font-size: 18px;
  background-color: greenyellow;
}

.calc-keyboard > button:nth-child(20) {
  font-size: 18px;
  background-color: aqua;
}

.calc-keyboard > button:nth-child(1),
.calc-keyboard > button:nth-child(2),
.calc-keyboard > button:nth-child(3) {
  font-size: 18px;
  background-color: #E5E4E2;
}

.calc-keyboard > button:active {
  font-size: 13px;
}

/* snake */

.snake-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.snake-body {
  height: 60vh;
  width: 100vw;
  display: flex;
  margin-top: 60px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: none;
}

#game-board {
  background-color: #ccc;
  width: 60vmin;
  height: 60vmin;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 2px solid white;
  box-shadow: 2px 2px 3px 2px rgb(134, 132, 132);
}

.snake {
  background-color: lightseagreen;
  border: .25vmin solid black;
}

.snake-food {
  background-color: gold;
  border: .2vmin solid black;
}

.snake-start-directions {
  font-family: 'roboto condensed', sans-serif;
  position: absolute;
  top: 400px;
  left: 10%;
  font-size: 1.4vw;
}

.snake-scoreboard {
  font-family: 'roboto condensed', sans-serif;
  font-size: 2.3vw;
  position: absolute;
  top: 350px;
  right: 14%;
  background-color: none;
}

.snake-restart {
  display: none;
  position: fixed;
  top: 99px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
}

.lost-message {
  color: white;
  margin-top: -100px;
  font-family: 'krona one', sans-serif;
}

.restart-scores {
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 120px;
  font-family: 'roboto condensed', sans-serif;
  color: gold;
}

.snake-restart button {
  font-size: 2rem;
  font-family: "krona one", sans-serif;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  padding: 0.25em 0.5em;
}

.snake-restart button:hover {
  background-color: rgb(40, 216, 207);
}

/* hangman */

.hangman-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

/* sudoku */

.sudoku-heading {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
